.container {
    margin: 0 auto;
    width: 650px;
    /* height: 50vh;
    border-left: solid 0.4px #9999;
    border-right: solid 0.4px #9999; */
}

@media(max-width: 650px) {
    .container {
        width: 100%;
    }
}

.header {
    text-align: center;
}

.card {
    background-color: #282727;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.card-header {
    padding-top: 5px;
    text-align: center;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
    background-size: 7px;
    background-repeat: repeat-x;
    background-position: top left;
    border-bottom: solid 2px #3272C5;
}

.card-body {
    background-color: #111111;
    padding: 30px 20px 20px 20px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 0 0 6px 6px;
}

.container-button {
    text-align: center;
    margin-top: 20px;
}

.button-main {
    background-color: #191919;
    border: solid 2px #479e5d;
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-size: 17px;
    align-items: center;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.button-main:hover {
    background-color: #2f6a3e;
    transition: 0.5s;
}