.container {
    margin: 0 auto;
    width: 650px;
}

@media(max-width: 650px) {
    .container {
        width: 100%;
    }
}

.header {
    text-align: center;
}

.img-logo {
    width: 70%;
    margin-bottom: 15px;
}

.card {
    background-color: #282727;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.card-header {
    padding-top: 3px;
    text-align: center;
    background-image: url(../assets/ornament.png);
    background-size: 7px;
    background-repeat: repeat-x;
    background-position: top left;
    border-bottom: solid 2px #3272C5;
}

.card-body {
    background-color: #111111;
    padding: 5px 20px 20px 20px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 0 0 6px 6px;
}

.card-films {
    width: 50%;
    border: solid 1px #DDDDDD;
    text-align: center;
}

.container-button {
    text-align: center;
    margin-top: 20px;
}

.button-main {
    background-color: #191919;
    border: solid 3px #E5B532;
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.button-main:hover {
    background-color: #E5B532;
    transition: 0.5s;
}

.paragraph-default {
    font-size: 18px;
}

