<div class="container">
  <div class="header">
    <h1>Star Wars Random Planets</h1>
  </div>

  <div class="card">
    <div class="card-header">
      <h1>{{ planets.name | uppercase}}</h1>
    </div>
    <div class="card-body">
      <h2><b>Population:</b> {{ planets.population }}</h2>
      <h2><b>Climate:</b> {{ planets.climate }}</h2>
      <h2><b>Terrain:</b> {{ planets.terrain }}</h2>
    
      <h2 style="color: red">Films:</h2>
      <div *ngFor="let film of films">
        <h2>{{ film.title }}</h2>
      </div>
    </div> 
  </div>

  <div class="container-button">
    <button class="button-main" (click)="getRandomPlanet()">NEXT</button>
  </div>
  
</div>
