/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

body {
    background-color: #161616;
    background: url('assets/bg-galaxy.svg');
    color: #DDDDDD;
    font-family: 'Ropa Sans', sans-serif;
    letter-spacing: 2px;
    background-size: cover; /* Resize the background image to cover the entire container */
}

h2 {
    font-weight: normal;
    margin-top: 30px;
}

.mt-10 {
    margin-top: 10px;
}